kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: todo-app-cluster
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30001
    hostPort: 3000
    protocol: TCP
  - containerPort: 30002
    hostPort: 8000
    protocol: TCP